<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Glossolalia - brought to you by Open Health Care UK!</title>
    <link rel="stylesheet" href="/css/phoenix.css">
    <link rel="stylesheet" href="/css/glossolalia.css">

  </head>

  <body>
    <div class="container">
      <div class="header">
        <!-- <ul class="nav nav-pills pull-right"> -->
        <!--   <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li> -->
        <!-- </ul> -->
        <span class="logo">
          <a href="/">
          <img src="/images/toplogo.png" width="289px" height="70px" border="0"/>
          </a>

        </span>
      </div>
  
      <%= render @view_module, @view_template, assigns %>

      <div class="footer">
        <p><a href="http://openhealthcare.org.uk">openhealthcare.org.uk</a></p>
      </div>

    </div> <!-- /container -->
  </body>
</html>
