<h2>New patient identifier</h2>

<%= render "form.html", changeset: @changeset,
                        action: patient_identifier_path(@conn, :create) %>

<%= link "Back", to: patient_identifier_path(@conn, :index) %>
